<h2>Your Events</h2>
<% if @events %>
  <table class='table table-striped table-bordered'>
    <% @events.each do |event| %>
    <tr><td><%= link_to event['name'], event  %></td></tr>
    <% end %>
  </table>
  <p><%= link_to 'Click here to add a new one', new_event_path %>.</p>
<% else %>
  <p>It doesn't look like you've added any events to the system yet. <%= link_to 'Click here to add one', new_event_path %>.</p>
<% end %>